<%- model_class = Service -%>

<h1>Services</h1>

<% @services.each do |service| %>
  <%= render 'categories/teaser', category: service, image_mode: :small, show_description: true, show_amenities: true %>
  <hr>
<% end %>
