<% valuable.field_categories.uniq.each do |category| %>
  <% cache category do %>
    <% cat_values = valuable.values.select{|v| v.field and v.field.field_category == category and (v.value_boolean or v.value_integer or v.value_string ) } %>
    <% if cat_values.present? %>
      <h3><%= category.name %> </h3>
      <ul>
        <% cat_values.each do |value| %>
          <% cache value do %>
            <li><%= value %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
