<fieldset>
  <legend>Amenities</legend>

  <% if evaluated.type %>
      <% existed = f.object.values.map{|v| v.field_id.to_i if v.id } %>
      <%= render partial: 'types/fields_of_type_and_ancestors', locals:{type: evaluated.type, f: f, existed: existed} %>
      </table>
  <% end %>

</fieldset>