<% content_for(:title) { t('types') } %>

<h1><%= t('types') %></h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Fields</th>
    <th>Actions</th>
  </tr>
  <% Type.roots.each do |type| %>
    <%= render 'types/type_nested_item', type: type %>
  <% end %>
</table>


<%= link_to 'New Type', new_type_path, class: "btn btn-default" %>
