
<%= render 'streams/stream_header', active_item: 'Home' %>

<div class="btn-group">
  <%= link_to 'Edit', edit_stream_path(@stream), class: 'btn btn-default' %>
  <%= link_to 'Back', streams_path, class: 'btn btn-default' %>
</div>
