<%- model_class = Room -%>
<% title 'Rooms, ' + @hotel.node.header %>

<% if can? :manage, @hotel %>
  <% if @rooms.blank? %><h3>No rooms in your hotel</h3><% end %>
  <div class="panel clearfix">
    <%= link_to 'Create new  Room', new_hotel_room_path(@hotel), :class => 'btn btn-primary btn-large btn-block pull-right' %>
  </div>
<% end %>

<% @rooms.in_groups_of 3 do |rooms| %>
    <div class="row">
    <% rooms.each do |room| %>
        <%= render( partial: 'hotels/item_thumbnail', locals: {
                header:     link_to(room.name, slug_hotel_room_path(@hotel, room)),
                teaser:     'Standard',
                price:      room.price,
                edit:       edit_hotel_room_path(room.hotel, room),
                destroy:    hotel_room_path(room.hotel, room)
        }) if room %>
    <% end %>
    </div>
<% end %>






