<%- model_class = Room -%>
<% title 'Rooms, ' + @hotel.node.header %>

<h1>Rooms</h1>

<% @rooms.each do |room| %>
  <%= render 'categories/teaser', category: room, image_mode: :small, show_description: true, show_amenities: true %>
  <hr>
<% end %>






