<%- model_class = Room -%>
<% title "#{@hotel.name}, #{t 'rooms.h'}" %>

<h1><%= t 'hotels.rooms' %> "<%= @hotel.name %>"</h1>

<% @rooms.each do |room| %>
  <%= render 'categories/teaser', category: room, image_mode: :small, show_description: true, show_amenities: true %>
  <hr>
<% end %>






