<% if can? :manage, gallery.imageable %>
<div class="well clearfix">



  <%= form_for Photo.new do |f| %>
    <div class="form-group">
      <div class="col-lg-5">
        <%= f.hidden_field :gallery_id, value: gallery.id %>
        <%= f.file_field :image, multiple: true, class: 'form-control' %>
      </div>
      <div class="col-lg-7 progress-bar-div">
        <div id="progress" class="progress">
          <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only"></span></div>
        </div>
      </div>

    </div>
  <% end %>

</div>



<% end %>

<div id="photos" class="clearfix">
  <%= render gallery.photos %>
</div>