  <div id="file_<%= photo.id %>" class="col-lg-2 photo-item">

    <a href="#" class="thumbnail" title="<%= photo.description %>">
      <%= image_tag photo.image_url(:small).to_s %>
    </a>
    <%# link_to "×", photo, class: 'close', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>

  </div>