<h1>Listing photos</h1>

<div class="panel">

  <%= form_for Photo.new do |f| %>
    <%= f.label :image, "Upload photos:" %>
    <%= f.file_field :image, multiple: true, name: "photo[image]" %>
  <% end %>

  <div id="progress">
    <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only"></span></div>
  </div>
</div>

<div id="photos">
  <%= render @photos %>
</div>

<%# link_to 'New Photo', new_photo_path %>
