<% @post = channel.posts.new %>

<a id="new_post_link" class="btn btn-primary" href="#" onclick="$('#form_post').show(); $(this).hide(); return false">Add a new post</a>
<%= render 'posts/ajax_form', channel: channel %>

<div id="posts">
  <%= render channel.posts %>
</div>

