<% @post = channel.posts.new %>

<% if can? :create, Post %>
  <a id="new_post_link" class="btn btn-primary" href="#" onclick="$('#form_post').show(); $(this).hide(); return false">
    <%= t('create', obj: t('posts.crud')) %>
  </a>
  <%= render 'posts/ajax_form', channel: channel %>
<% end %>


<div id="posts" class="checktags">
  <%= render params[:tag] ? channel.posts.tagged_with(params[:tag]) : channel.posts %>
</div>

