// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form_post {
  display: none;
}

#add_comment_button {
  margin-top: 20px;
}

.comment {
  &.shrink {
    max-height: 100px;
    overflow: hidden;
    a.expand_link { display: block; }
  }
  a.expand_link { display: none; }
}