body {
  background: url('skiers.png') 0 -200px no-repeat;
}

.bs-header .container {
  background: white;
  border-radius: 5px 5px 0 0;
}

.bs-body .container {
  background: white;
  border-radius: 0 0 5px 5px;
}

div.stream-title {
  height: 230px;
}

.dynamic-field-col-button {
  padding: 0;
  a.btn-small {
    width:  50px;
  }
}

.dynamic-field-col-field {
  padding-right: 5px;
}

.closed {
  display: none;
}

.label-sm {
  font-size: 12px;
}

.cover-image {
  background-position: left center;
  background-repeat: no-repeat;
  height: 320px
}

#header-carousel {
  .item {
    background-position: center;
    background-repeat: no-repeat;
  }
}

.carousel {
  .carousel-inner {
    .item {
      background-position: center;
    }
    a {
      color: #fff;
    }
  }

  .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
    h3 {
      margin-top: 5px;
    }
  }

  .carousel-indicators {
    bottom: 0px;
  }

}



.all-photos {
  margin-top: 10px;
  img {
    margin-right: 2px;
    margin-top: 2px;
  }
  a {
    display: block;
    height: 50px;
    width: 126px;
    vertical-align: middle;
    text-align: center;
    float: left;
    margin-top: 2px;
    padding-top: 15px;
  }
}

.site-main-header {
  color: white;
}

nav.object-menu {
  margin-bottom: 15px;
  font-size: 12px;
}

#page-header {
  z-index: 1001;
  border-bottom: 1px solid;
}

.lang-panel {
  list-style: none;
  li {
    float: right;
    margin-right: 5px;
  }
}

.search-form {
  background: rgba(255,255,0,0.7);
  border-radius: 5px;
  margin-top: 69px
}