.progress-bar-div {
  padding-top: 7px;
}

.photo-item {
  margin: 0 1px 1px 0;
  float: left;
  img {
    width: 100%;
    &.active {
      -webkit-box-shadow: 2px 2px 17px rgba(50, 59, 85, 0.87);
      -moz-box-shadow:    2px 2px 17px rgba(50, 59, 85, 0.87);
      box-shadow:         2px 2px 17px rgba(50, 59, 85, 0.87)
      //box-shadow: 3px 3px 1px #ccc;
    }
  }
}

.content-photo {
  width: 100%;
}