<fieldset>
  <div class="form-group">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
    </div>
    <div class="col-lg-1">
      <%= f.hidden_field :_destroy %>
      <%= link_to "Remove", '#', class: "remove_fields btn btn-danger" %>
    </div>
  </div>
</fieldset>