<div class="hotel-item clearfix">


  <div class="caption">
    <h3><%= link_to hotel.node.header, node_path(hotel.node.name) %></h3>
    <div>
      <%= hotel.type.name rescue '' %>
    </div>
  </div>

</div>