<fieldset>
  <div class="form-group">
    <div class="col-lg-3">
      <% type = f.object.type || Type.find_by_slug(f.object.class.name.pluralize.parameterize) %>
      <%= f.select(:type_id, type.collection_for_parent_select('services'), {}, {class: 'form-control'}) %>
    </div>
    <div class="col-lg-7">
      <%= f.text_field :name, placeholder: "Service name", class: 'form-control' %>
    </div>
    <div class="col-lg-1">
      <%= f.hidden_field :_destroy %>
      <%= link_to "Remove", '#', class: "remove_fields btn btn-danger" %>
    </div>
  </div>
</fieldset>