<table class="table pricelist">
  <tr>
    <th class="name">Room</th>
    <% @hotel.periods.each do |period| %>
        <th><%= period.title %> </th>
    <% end %>
  </tr>

  <% @hotel.rooms.each do |room| %>
      <tr>
        <td><%= room.name %> </td>
        <% @hotel.periods.each do |period| %>
            <% price = period.prices.select{|k| k['room_id'] == room.id } %>
            <td><%= price[0].value if !price.blank? %></td>
            <% #period.prices. %>
        <% end %>
      </tr>
  <% end %>
</table>