<% title('Photos - ' + @hotel.node.header) %>
<%= render 'hotels/hotel_header', active_item: 'Photos' %>

<h1>Photos</h1>

<%= link_to 'Edit Galleries', albums_edit_path, class: 'btn btn-default pull-right' %>




