<% title('Comments - ' + @hotel.node.header) %>
<%= render 'hotels/hotel_header', active_item: 'Comments' %>

<h1>Hotel Comments</h1>

<%= render 'comments/comments_block', commentable_type: 'Hotel', commentable: @hotel %>