<% title t('resorts.h') %>
<h1><%= t 'resorts.h' %></h1>

<div id="resorts">
  <%= render @resorts %>
</div>

<%= link_to t('helpers.links.new', obj: t('resorts.crud')), new_resort_path, class: 'btn btn-primary' if current_user and current_user.role? :admin %>
