<% content_for :page_title do %>
  <h1>
    <%= link_to @resort.name, resort_path(@resort) %> <small>resort</small>
  </h1>
<% end %>

<div class="content">
  <%= markdown @resort.node.content %>
</div>

<%= link_to 'Edit', edit_resort_path(@resort) %> |
<%= link_to 'Back', resorts_path %>
