<% content_for :page_title do %>
  <h1>
    <%= link_to @resort.name, resort_path(@resort) %> <small>resort</small>
  </h1>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <h4>Description</h4>
    <%= markdown truncate(@resort.node.content, length: 500, separator: '.') %>
  </div>
  <div class="col-lg-6">
    <h4>Blog</h4>
    <%= render @resort.posts.limit(5) %>
  </div>
</div>

<% content_for :sidebar do %>
  <h4>Hotels</h4>
  <%= render @hotels %>
<% end %>

