<ul class="nav nav-pills">
  <li class="active"><a href="#">Info</a></li>
  <li><a href="#">Photos</a></li>
  <li>
    <a href="#">
      <% if @object.rooms.count %>
          <span class="badge pull-right"><%= @object.rooms.count %></span>
          Rooms
      <% end %>
    </a>
  </li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Prices</a></li>
  <li><a href="#">Comments</a></li>
  <li><a href="#">Contacts</a></li>
</ul>