<% menu = [
    ['Info',        slug_resort_path(@resort),      -1 ],
    ['Hotels',      resort_hotels_path(@resort),    -1 ],
    ['Blog',        resort_blog_path(@resort),      -1 ],
    ['Photos',      resort_album_path(@resort),     -1 ],
    ['Comments',    resort_comments_path(@resort),  @resort.comment_threads.count ],
]
   cover_photo = @resort.gallery.rand(:cover).image_url(:content) rescue nil
   title_photo = @resort.gallery.rand(:title).image_url(:mini)    rescue nil
%>

<% content_for :page_title do %>
  <h1>
    <%= link_to @resort.name, resort_path(@resort) %>
  </h1>
<% end %>

<% content_for :head do %>
  <%= render 'layouts/visual_header', menu: menu, header: @resort.node.header, title: @resort.node.title, gallery: @resort.gallery %>
<% end %>

<% content_for :content do %>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>